.MainContainer{
    display: flex;
    flex-direction: column;
}

.nav{
    border: 2px solid grey;
    height: 60px;
}

.Content{
    display:flex ;
    justify-content: space-around;
    border: 2px solid salmon;
}

.Left{
    border: 2px solid lightseagreen;
    width: 25%;
}

.Center{
    border: 2px solid blue;
    width: 50%;
}

.Right{
    border: 2px solid yellow;
    width: 25%;
    padding: 10px;
}

.Left .imageDiv{
    display: flex;
    align-items: center;
}



.Center .imageDiv{
    display: flex;
    align-items: flex-start;
}


.Center .imageDiv span{
    margin-top: 15px;
}

.fa-flask{
    font-size: 80px;
}